---
title: Home
layout: default
---
<p>Content Created by Carl:</p>

<div class="card card-nav-tabs card-plain">
  <div class="card-header card-header-primary">
    <!-- colors: "header-primary", "header-info", "header-success", "header-warning", "header-danger" -->
    <div class="nav-tabs-navigation">
      <div class="nav-tabs-wrapper">
        <ul class="nav nav-tabs" data-tabs="tabs">
          <li class="nav-item">
            <a class="nav-link active show" href="#alpha" data-toggle="tab">Sort alphabetically<div class="ripple-container"></div></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#weight" data-toggle="tab">Sort by weight<div class="ripple-container"></div></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="card-body ">
    <div class="tab-content">
      <div class="tab-pane active show" id="alpha">
        {% for content in site.contents %}
          <div class="stone-teaser clearfix">
            <div class="img-left teaser-image">
              <a href="{{ content.url | relative_url }}" alt="go to the detail page"><img src="{{ content.image | relative_url }}" alt="photo of {{ content.title }}" /></a>
            </div>
            <div class="teaser-content">
              <h2><a href="{{ content.url | relative_url }}" alt="go to the detail page">{{ content.title }}</a></h2>
              <p>{{ content.content | truncatewords: 44, '...' }}</p>
              <p><small>Weight category: <em>{{ content.category }}</em></small></p>
              <p><a href="{{ content.source }}" target="_blank">Source</a></p>
            </div>
          </div>
        {% endfor %}
      </div>
      <div class="tab-pane" id="weight">
        {% assign sorted_stones = site.contents | sort: "category" %}
        {% for content in sorted_stones %}
          <div class="stone-teaser clearfix">
            <div class="img-left teaser-image">
              <a href="{{ content.url | relative_url }}" alt="go to the detail page"><img src="{{ content.image | relative_url }}" alt="photo of {{ content.title }}" /></a>
            </div>
            <div class="teaser-content">
              <h2><a href="{{ content.url | relative_url }}" alt="go to the detail page">{{ content.title }}</a></h2>
              <p>{{ content.content | truncatewords: 44, '...' }}</p>
              <p><small>Weight category: <em>{{ content.category }}</em></small></p>
              <p><a href="{{ content.source }}" target="_blank">Source</a></p>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
See I can edit the file! Just some text to demo editing in the browser...
